.menu {
    background: #000000;
    border-radius: 30px 30px;
}

h1.logo {
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: -2px;
}

a:link,
a:active,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li a {
    padding: 5px 10px;
    border-radius: 200px 50px;
}

.menu li a:hover {
    text-decoration: none;
    background: #daaf24;
    color: #000000;
}